@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');


body{
    width: 100%;
    font-family: Comfortaa ,sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
header {
    box-shadow: 0 1.2px 0 0 gray;
    position: relative;
}
main {
    width: 100%;
}

#navbar {
    width: 100%;
    background-color: white;
    display: flex;
    align-content: space-between;

}

#navbar > .menus {
    color: gray;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: space-between;
    align-items: center;
    flex-grow: 1;
}

#navbar > .menus li {
    display: flex;
    align-content: flex-end;
    padding-right: 25px;
    opacity: .6;
    text-align: center;

}

#navbar > .menus li:hover {
    text-decoration: underline rgb(0, 162, 255);;
    opacity: .9;
    
}

#logo {
    width: 12rem;
    padding-left: 2em;
}

#banner {
    width: 100%;
    padding: 1px 0 0 0;
}

#destaque {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#destaque > h1 {
    font-size: 5vh;
    text-align: center;
    color: rgb(56, 56, 56);
}

#destaque > article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 3em;
}

#destaque > article img {
    width: 50%;
    margin: 0 2em 0 2em;
    border: 2px solid transparent;
}

#destaque > article img:hover{
    border: 2px solid rgb(0, 162, 255);
}

#produtos {
    width: 100%;
    background-color: #C2185B;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

#produtos > h2 {
    color: white;
    font-size: 3em;
}

#produtos > section {
    display: inline-flex;
    flex-direction: row;
    align-self: center;
}