@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');


body{
    width: 100%;
    font-family: Comfortaa ,sans-serif;
    padding: 0;
    margin: 0;
}

#navbar {
    width: 100%;
    background-color: white;
    display: flex;
    align-content: space-between;

}

#navbar > .menus {
    color: gray;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: space-between;
    align-items: center;
    flex-grow: 1;
}

#navbar > .menus li {
    display: flex;
    align-content: flex-end;
    padding-right: 25px;
    opacity: .6;
    text-align: center;

}

#navbar > .menus li:hover {
    text-decoration: underline rgb(0, 162, 255);;
    opacity: .9;
    
}

#logo {
    width: 12rem;
    padding-left: 2em;
}

#banner {
    width: 100%;
}

#destaque {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#destaque > h1 {
    font-size: 3em;
    text-align: center;
    color: rgb(56, 56, 56);
}

#destaque > article {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#destaque > article img {
    
}